<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" *ngIf="isLoggedIn">
    <a class="navbar-brand text-white">Sample</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
            <a class="py-2 px-2 d-none d-md-inline-block text-white" [routerLink]="['/country']">Countries</a>
        </li>
        <li class="nav-item">
            <a class="py-2 px-2 d-none d-md-inline-block text-white" [routerLink]="['/users']">Users</a>
        </li>
        <li class="nav-item">
            <a class="py-2 px-2 d-none d-md-inline-block text-white">Navigate To Countries Page</a>
        </li>
        <li class="nav-item">
          <a class="py-2 px-2 d-none d-md-inline-block text-white" [routerLink]="['']">Logout</a>
      </li>
      </ul>
    </div>
  </nav>
<router-outlet></router-outlet>